<header>

<nav class="navbar navbar-ct-transparent navbar-fixed-top" id="register-navbar">
    <div class="container">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="index.php">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
                <li>
                    <form id="form" method="POST" action="index.php">
                        <input type="hidden" name="view" value="init_test">
                        <input type="hidden" name="test" value="operas">
                        <button type="submit" class="btn btn-simple" style="background-color: transparent;">Operas</button>
                    </form>
                </li>
            <li>
                <form id="form" method="POST" action="index.php">
                    <input type="hidden" name="view" value="init_test">
                    <input type="hidden" name="test" value="iq">
                    <button type="submit" class="btn btn-simple" style="background-color: transparent;">IQ</button>
                </form>
            </li>
            <li>
                <form id="form" method="POST" action="index.php">
                    <input type="hidden" name="view" value="init_test">
                    <input type="hidden" name="test" value="mail">
                    <button type="submit" class="btn btn-simple" style="background-color: transparent;">Phishing</button>
                </form>
            </li>
           </ul>
        </div>
      </div>
    </nav>  
</header> 

