<header>
 <nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
      <div class="container">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">TFG Title</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="index.php" class="btn btn-simple">Inicio</a>
            </li>
            <li>
                <a href="index.php?view=init_test&test=operas" class="btn btn-simple">Operas</a>
            </li>
            <li>
                <a href="index.php?view=init_test&test=iq" class="btn btn-simple">IQ</a>
            </li>
            <li>
                <a href="index.php?view=init_test&test=mail" class="btn btn-simple">Phishing</a>
            </li>
           </ul>
        </div>
      </div>
    </nav>  
</header> 
