<!DOCTYPE html>
<html>   
    <?php include "head.html"; ?>  
<body>
    
    <?php include "header.html"; ?>
    
    <div class="wrapper">
        <div class="demo-header">
            <div class="motto">
            </div>
    </div>
        <div class="main">
            <div class="section text-center landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Test de estudio pishing</h2>
                            <br>
                            <a href="index.php?section=users&action=create" class="btn">Inicia el Test</a> 
                        </div>
                    </div>
                </div>
            </div>  
            
            <div class="section section-light-brown landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 column">
                            <h4>Tests Personalidad e IQ</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="col-md-4 column">
                            <h4>Tests Pishing</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="col-md-4 column">
                            <h4>Motivación</h4>
                            <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                            <a class="btn btn-danger btn-simple" href="#">See more <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="section section-dark text-center landing-section">
                <div class="container">
                    
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/images/urv-centrat-color.png" alt="Thumbnail Image" class="img-circle img-responsive">
                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="team-player">
                           <h5>Universitat Rovira i Virgili <br /><small class="text-muted">Escola Tècnica Superior d'Enginyeria</small></h5>
                           <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>     
    </div>
</body>
</html>

